<h1>Today's Articles</h1>

<ul>
  <% @articles.each do |article| %>
  <li>
    <div>
      <%= link_to article_path(article.id) do %>
      <%= article.title %>
      <% end %>
    </div>
    <div>
      <%= article.content %>
    </div>
  </li>
  <% end %>
</ul>
<p>
  <%= link_to 'Add a new article 📃', new_article_path%>
</p>
